body {
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
  color: white;
  line-height: 1.6;
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: white;
  line-height: 1.6;
  margin: 0;
}

h3 {
  font-size: 2rem;
  color: white;
  line-height: 1.6;
  margin: 0;
}

p {
  font-size: 1rem;
  color: white;
  font-weight: 250;
  line-height: 1.7;
}

button {
  background-color: #97c584;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
  border: solid;
  border-color: #97c584;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: #97c584;
}

.top-menu {
  list-style-type: none;
  width: 92vw;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  color: white;
  font-size: 1rem;
  z-index: 2;
  padding-top: 3vh;
}
.top-menu-element {
  padding: 1% 1% 1% 1%;
}

.top-menu a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

.top-menu a:hover {
  color: white;
}
.top-menu a:visited {
  color: gray;
}

.top-logo {
  width: 90vw;
  display: flex;
  position: absolute;
  color: white;
  font-size: 1rem;
  z-index: 2;
  padding-top: 5vh;
  padding-left: 4%;
}

.top-logo a {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.top-logo a:hover {
  color: gray;
}
.top-logo a:visited {
  color: white;
}

.split-section {
  display: flex;
  justify-content: center;
  padding-top: 18vh;
}

.split-section > div {
  flex: 1;
  padding: 5% 3% 5% 3%;
  color: white;
}
.split-left img {
  max-width: 40vw;
}
.split-right {
  display: flex;
  flex-direction: column;
}
#more-info-btn {
  padding-top: 6%;
}

.statistics-block {
  display: flex;
  flex-direction: column;
}
.statics-block-header {
  text-align: center;
  margin: 2% 18% 5% 18%;
}
.statistics-block-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.statistics-block-list div {
  font-weight: 800;
  color: #97c584;
  text-align: center;
}
.statistics-block-list-element {
  max-width: 30vw;
}

.split-section2 {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.split-section2 > div {
  flex: 1;
  padding: 5% 3% 5% 3%;
}
.split-right2 {
  display: flex;
  flex-direction: column;
}
.split-right2 img {
  max-width: 50vw;
  padding-bottom: 5%;
}

#footer-title {
  padding-left: 5%;
}

.footer-container {
  display: flex;
}

.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-right {
  display: flex;
  flex-direction: column;
}
.footer-right input {
  width: 40vw;
  padding: 5% 3% 5% 3%;
  margin: 5% 3% 5% 3%;
}

#send-btn {
  text-align: left;
  margin-top: 5vh;
  margin-left: 5%;
  width: 10vw;
}

.footer-container > div {
  flex: 1;
  padding: 5% 5% 5% 5%;
  color: white;
}

hr {
  margin: 3% 4% 3% 3%;
}
.bottom-contact-box {
  display: flex;
  justify-content: space-between;
  padding: 0% 4% 4% 4%;
  color: white;
}

.bottom-contact-box a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-contact-box a:hover {
  color: white;
}
.bottom-contact-box a:visited {
  color: gray;
}
.bottom-video {
  width: 100%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .top-menu {
    width: 100%;
    justify-content: center;
    font-size: 0.8rem;
    padding-top: 3vh;
    padding-left: 0vw;
  }

  .top-logo {
    width: 100%;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 8vh;
    padding-left: 0vw;
  }

  .overlay-content {
    font-size: 1.5rem;
    padding-left: 10%;
  }

  .overlay-content {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  .top-menu-element {
    padding: 1% 2% 1% 2%;
  }

  .split-section {
    flex-direction: column;
  }

  .split-section > div {
    flex: auto;
    width: 80%;
    padding: 3% 5% 3% 5%;
  }

  .split-left img {
    max-width: 100%;
  }

  .service-list {
    flex-direction: column;
    align-items: center;
  }

  .service-element {
    padding: 5% 0% 5% 0%;
  }

  .service-box img {
    max-width: 90vw;
  }

  .promotional-video {
    justify-content: center;
    width: 100%;
  }

  .promotional-video video {
    width: 100%;
    height: auto;
  }

  .products-display img {
    max-width: 90vw;
  }

  .footer-right input {
    width: 80vw;
  }

  #send-btn {
    width: 30vw;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    flex: 1;
  }

  .footer-right input {
    width: 80vw;
  }

  #send-btn {
    width: 30vw;
    margin-top: 2vh;
    margin-left: 0;
  }

  .split-section2 {
    flex-direction: column;
  }

  .split-right2 img {
    max-width: 100%;
  }

  .statistics-block-list {
    flex-direction: column;
    align-items: center;
  }

  .statistics-block-list-element {
    max-width: 100%;
    padding: 5% 0% 5% 0%;
  }
  .bottom-video {
    width: 100%;
  }
}
