body {
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
  color: white;
  line-height: 1.6;
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: white;
  line-height: 1.6;
  margin: 0;
}

h3 {
  font-size: 2rem;
  color: white;
  line-height: 1.6;
  margin: 0;
}

p {
  font-size: 1rem;
  color: white;
  font-weight: 250;
  line-height: 1.7;
}

.top-menu {
  list-style-type: none;
  width: 92vw;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  color: white;
  font-size: 1rem;
  z-index: 2;
  padding-top: 1%;
}
.top-menu-element {
  padding: 1% 1% 1% 1%;
}

.top-menu a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}

.top-menu a:hover {
  color: white;
}
.top-menu a:visited {
  color: gray;
}

.top-logo {
  width: 90vw;
  display: flex;
  position: absolute;
  color: white;
  font-size: 1rem;
  z-index: 2;
  padding-top: 2.7%;
  padding-left: 4%;
}

.top-logo a {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.top-logo a:hover {
  color: gray;
}
.top-logo a:visited {
  color: white;
}

.split-section {
  display: flex;
  justify-content: center;
  padding-top: 18vh;
}

.split-section > div {
  flex: 1;
  padding: 5% 3% 5% 3%;
  color: white;
}
.split-left img {
  max-width: 40vw;
}
.split-right {
  display: flex;
  flex-direction: column;
}
#more-info-btn {
  padding-top: 6%;
}

.statistics-block {
  display: flex;
  flex-direction: column;
}
.statics-block-header {
  text-align: center;
  margin: 2% 18% 5% 18%;
}
.statistics-block-list {
  display: flex;
  flex-direction: row;
}
.statistics-block-list div {
  font-weight: 800;
  color: #97c584;
  text-align: center;
}
.statistics-block-list-element {
  max-width: 30vw;
}

.split-section2 {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.split-section2 > div {
  flex: 1;
  padding: 5% 3% 5% 3%;
}
.split-right2 {
  display: flex;
  flex-direction: column;
}
.split-right2 img {
  max-width: 50vw;
  padding-bottom: 5%;
}

#footer-title {
  padding-left: 5%;
}

.footer-container {
  display: flex;
}

.footer-left {
  display: flex;
  flex-direction: column;
}
.footer-right {
  display: flex;
  flex-direction: column;
}
.footer-right input {
  width: 40vw;
  padding: 5% 3% 5% 3%;
  margin: 5% 3% 5% 3%;
}

#send-btn {
  text-align: left;
  margin-top: 5vh;
  margin-left: 5%;
  width: 10vw;
}

.footer-container > div {
  flex: 1;
  padding: 5% 5% 5% 5%;
  color: white;
}
